
*{
	margin:0px;
	padding:0px;
}
body {
  /*opacity: 0.6;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-left: 20px; 
  text-decoration: none;
}
a:hover{text-decoration: underline;}

.m15{ margin: 15px;}
.tc{ text-align: center;font-size: 18px;font-weight: 600;}

.header,.footer{
	z-index:2;
	line-height: 50px;
	text-align:center;
	position:fixed;
	left:0;
	height:50px;
	width:100%;
	background-color: #666;
}
.header{
	top:0;
}
.footer{
	bottom:0;
}


.container{
	z-index:1;
	width:100%;
	position:relative;

}
.left-side,.right-side{
	position:fixed;
	margin-top:60px;
	background-color: #fff;
	width:200px;
	height:400px;
	text-align:center;
	/*margin:10px;*/

}
.left-side{
	left:10px;
}
.right-side{

	left:100%;
	margin-left:-210px;
}

.content{
	box-sizing: border-box;
	margin-top:60px;
	padding:100px;
	line-height: 2em;
	text-align:center;
	background-color: #fff;
	width:auto;
	margin-left:215px;
	margin-right:215px;
}

.box{


/*	bottom:0;
    right:0;*/
    position:absolute;
    left:50%;
    width:100%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);  
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.layout-header{
	height: 550px;
    background-color: white;
    background-image: url("../images/layout.jpg");
    position: relative;
    background-size: cover;
    background-position: 50% 0%;

}

.nav-header{
	position:relative;
	height:55px;

}
.nav-header-box{
	float:left;
	margin:0 10px;
	text-align:center;
	line-height:55px;
	

}

.nav-header-image{
	margin:0 auto;
}
.nav-footer{
	position:relative;
	top:300px;
	width:100%;
}
.nav-search{
	position: absolute;
	left:50%;
	transform:translate(-50%,0);
	width:600px;
	margin-bottom: 100px;
	background-color: black;
	opacity: 0.4;
	margin-left:auto;
	margin-right:auto;
	height:100px;
}
.search{
	width:600px;
	position:absolute;
	left:50%;
	top:30px;
	transform:translate(-50%,0);
	z-index:1;
	
}

.header-link{
	display: inline-block;
	margin-right:20px;
	text-decoration: none;
}
.right{
	position:absolute;
	right:0px
}
input,button{
	margin-left:8px;
	margin-right:8px;
	border:1px solid gray;
}
input{
	width:480px;
	height:38px;
}
button{
	width:80px;
	height:40px;
}
.layout-body{
	width:100%;
}
.body-nav{
	height:100px;
	text-align:center;
	line-height:100px;
}

#msform {
    width: 400px;
    margin: 0px auto;
    text-align: center;
    
}

#msform fieldset {

	padding:40px;
    background: white;
    border:1px solid red;
    border-radius: 3px;
    box-shadow: 0 10px 15px 4px rgba(0, 0, 0, 0.4);
	text-align:center;
	box-sizing: border-box;
    /*stacking fieldsets above each other*/
    
}

/*inputs*/
#msform input, #msform button, #msform textarea {
	border:1px solid blue;
    padding: 20px;
        border-radius: 3px;
    margin-bottom: 10px;
    width:100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
}

.body-group{
	width:70%;
	margin:0 auto;
}
  .flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {

  opacity:0.7;
  width: 200px;
  height: 250px;

  margin:30px 15px;

  display:block;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  border:1px solid red;
}
.images{
	width:100%;
	height:200px;
	background-color: gray;
}
.detials{
	box-sizing: border-box;
	padding:15px;
	text-align:center;
	line-height:1em;
}

.layout-footer{
	border:1px solid blue;
	width:100%;
}
.nav-footer{

	width:100%;
	height:100px;
}
